.wrapper {
  border-radius: 15px;
  border: 1px solid #25225d;
  width: 300px;
  height: fit-content;
  padding: 30px 40px;
}
.button {
  width: 170px;
  height: 54px;
  margin: 20px auto 0;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: auto;
}
